html,
body {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: rgba(12, 27, 43, 0.541);
    overflow-x: hidden;
  }
} */
body {
  color: white;
  background-color: rgb(12, 27, 43);
  overflow-x: hidden;
}
/* page layout */

header{
  background-color: rgb(10, 21, 32);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  position: fixed;
  top: 0;
  z-index: 140;
  height: 50px;
  align-items: center;
  width: 100%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.623) }



header .h3{
  display: flex;
  gap: 30px;
  cursor: pointer;
  color: #ffffff;
}
.logo{
  margin-right: 15px;
}

.searching{
  position: relative;
}
.searching img{
  position: absolute;
  transform: translateY(10px) translateX(10px);
}
.navbar input:nth-child(2){
  border: none;
  transition: .6s ease all;
  padding-right: 10px;
  background: none;
  height: 36px;
  position: relative;
  left: 10px;
  text-align: right;
  border-radius: 30%;
 width: 40px;
 margin-right: 200px;
  
  font-size: 16px; 
   box-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 15px rgba(0, 0, 0, 0.578) ;


}
.navbar input:nth-child(3){
width: 20px;
height: 20px;
border-radius: 50%;
background:transparent;

}
.navbar input::placeholder{
  
  padding-left: 40px;
 
}
.navbar input:nth-child(2):focus{
  border-radius: 5px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 5px rgb(0, 170, 255),0px 0px 6px rgb(10, 255, 132),0px 0px 8px rgb(0, 195, 255) ;
  
}



.navbar{
  overflow-y: scroll;
  height: 100vh;
  background:  rgb(10, 21, 32);
  position: fixed;
  z-index: 120;
  font-size: 14px;
  color: #ffffffba;
  width: 200px;
  transform: translateX(700px);
  text-align: right;
  right:0;
  overflow-x: hidden;

  /* transform: translate(200px); */
  top: 50px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.623) ;
  transition: .5s ease;

}
.burgerdisplay{
  transform: translateX(0px);

}
  .head{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: right;
    gap: 60px;
    z-index: 2;
    max-width: 100px;
  }
  .burger{
    transform: rotate(90deg);
    font-size: 23px;
    user-select: none;
    cursor: pointer;
    position: fixed;
    right: 150px;
    top: 10px;
    z-index: 200;
  }

  .navbar div{
    padding: 15px 10px;
    transition: .5s ease;
    position: relative;
    cursor: pointer;
    right: 10px;
    font-size: 15px;

  }
  .navbar div p{
    position: relative;
    left: 6px;
  }
  .navbar div span img{
    position: absolute;
    left: 10px;
    color: #05abbe;
  
  }

  .navbaranimtion div{
    cursor: pointer;
    /* animation: anmited  .25s ease-in-out; */
    /* animation-duration: .5s; */

    
    
  }
  .navbar::-webkit-scrollbar{
    display: none;
  }






  .navbar div:nth-child(2){
    animation-delay: .4s;
  }
  .navbar div:nth-child(3){
    animation-delay: .6s;
  }
  .navbar div:nth-child(4){
    animation-delay: .8s;
  }
  .navbar div:nth-child(5){
    animation-delay: 1s;
  }
  .navbar div:nth-child(6){
    animation-delay: 1.2s;
  }
  .navbar div:nth-child(7){
    animation-delay: 1.4s;
  }
  .navbar div:nth-last-child(4){
    animation-delay: 1.6s;
  }
  .navbar div:nth-last-child(3){
    animation-delay: 1.8s;
  }
  .navbar div:nth-last-child(2){
    animation-delay: 2s;
  }
  
  .person{
    display: none;
  }
  

  @keyframes anmited{
    /* 0%{
      opacity: .7;
      transform: translateX(-30px);
    } */
    100%{
      opacity: .6;
      transform: translateX(-30px);
    }
  }
  .navbar div:hover{
      color: white;
  }
  hr{
    width: 80%;
    border: 1px solid rgba(161, 158, 158, 0.459);
 
  }
/* login and signin in header */
.signinall{
  display: flex;
  width: 100%;
  height: 120vh;
  justify-content: center; 

  


}
.leftsignin{
  width: 100%;
  background-position: center;


}

.signin{
height: 100vh;
width: 500px;
padding-right: 10px;

position: relative;
top: 20px;


}
.signinall h2{
  text-align: center;
  font-size: 40px;
  margin:none;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #a0a2a2;
}



.p{
  display: flex;
  justify-content: center;
}
.p .n1{
  width: 10px;
  align-items: center;
  height: 10px ;
  border: 1px solid red;

}


.sinred{
  border: 1px solid red;
}
.signin input{
  color: rgb(252, 251, 251);
  border: none;
  width: 100%;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(240, 248, 255, 0.148);
  border-radius: 10px;
  margin-bottom: 20px;
}
.signin input::placeholder{
  color: aliceblue;
}
.signin button{
  width: 100%;
  height: 40px;
  font-style: italic;
  cursor: pointer;
  font-size: larger;
  border-radius: 5px;
  background: linear-gradient(to right, #013357,rgb(81, 33, 81));
  border: none;
}
.erorr{
  color: red;
  text-align: center;
}
.descrption{
  display: flex;
  gap: 2%;
}
.headmovie h3{
  font-size: 60px;
}
.headmovie h4{
  color: rgb(159, 161, 161);
  transform: translateY(-25px);
}
.alfeen{
  display: flex;
  gap: 20px;
}
.alfeen p{
  background-color: rgb(126, 125, 124);
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
}
.alfeen p:hover{
  background-color: #d6b304;
}
.taqeam{
  display: flex;
  gap: 10px;
}
.taqeam p:nth-child(1){
  background-color: #b29501;
  border-radius: 10px;
  padding: 3px;
}
.images{
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  width: 100%;
}
.images section{
  position: relative;
  display: flex;
 
}
.images section img{
  width: 40px;
}
.images section p{
padding-right: 20px;
}
.loginf{
  position: fixed;
  display: flex;
  transition: .5s ease;
  flex-wrap: wrap;
  justify-content: center;
  height: 270px;
  cursor: pointer;
  gap: 4px;
  top: -350px;
  left: -350px;
  width: 240px;
  border-radius: 5px;
  padding-bottom: 20px;
  z-index: 2;
  background-color: rgba(2, 49, 91, 0.085);
  box-shadow:0px 0px 10px #030303, 0px 0px 15px #030303;
  backdrop-filter: blur(3px);
  }
  .logindesplay{
  opacity: 1;
  top: 60px;
  left: 10px;
  }
  .loginf h3{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: 700;
  }
  .loginf input{
      text-align: right;
      padding-right: 10px;
      height: 30px;
      width: 90%;
      border:1px solid ;
      border-radius: 10px;
      background: none;
  }
  
  .loginf button{
        width: 70%;
        font-weight:500;        
        background-color: rgba(7, 125, 209, 0.648);
        border-radius: 20px;
        height: 30px;
       
        cursor: pointer;
  }
  .loginf .sig{
    color: #000000;
    background-color: #ffffff;
    padding:0 0px 0 0px;
    height: 23px;
    width:60px ;
    position: absolute;
    left: 8px;
    top: -10px;
    border-radius: 5px;
    font-size: 15px;
  }
  .loginf p{
    
    font-size: 5px;
    color: rgb(4, 124, 236);
  }
  
  .languge{
    height: 40px;
    position: relative;
    background-color: rgb(10, 21, 32);
    border: none;
    top:14px;
    font-size: larger; 
  }
  
  .sotialmedia{
    position: relative;
    bottom: 10px;
    z-index: 2;
    margin-bottom: 50px;
  }
  .sotialmedia img{
    filter: grayscale(1);}
  
  .sotialmedia img:hover{
    filter: opacity(1);
    transform: translateY(-5px);
  }
  
  

  /* page index */

.background{
    height: 84vh;
    align-items: center;
    padding-left: 200px;
    width: 100%;
    position: relative;
    filter: opacity(.8); 
    top: 50px;
    background: rgba(2, 53, 68, 0.582);
    background-repeat: no-repeat;
    background-size: cover;
}

  .leftright img{
    background: rgba(2, 2, 2, 0.452);
    border-radius: 50%;
    width: 40px;
    padding: 10px; }
   
 

  .leftright{ 
    position: absolute;
    width: 60%;
    display: flex;
    
    justify-content: space-between;   
  
  }




 
  

  

  .background .right{
    transform: rotate(180deg);
  }

  .background section{
    display: flex;
    cursor: pointer;
    width: 100%;
    position: relative;
    top: -110px;
    align-items: center;
    margin-right: 20px;
  }
   .background img:hover{
    box-shadow: 0px 0px 14px rgb(12, 12, 12);
    background-color: black;
   }

  .background div{
    transform: translateY(-50px);
    cursor: pointer;
  
  } 
  



  

.background{
  display: flex;
  
 
}
  

  .background section h4{
    display: flex;
    width: 200px;
    transform: translateY(160px);
    text-align: center;}
    
  
  .background section h4:nth-child(1){
    background-color: rgb(255, 5, 5);
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: 40px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 20px;
  }



  .mov{
    display:flex;
    width: 100%;
    transform: translateY(-70px);
    gap: 15px;
    overflow-x: scroll;

  }
  .mov section{
    width:200px;
    height: 120px;
    background-position: center;
    background-size: cover;
    z-index: 3;
    border-radius: 20px;

  }

  .lainone{
      display: flex;
      gap: 20px;
      margin-right: 20px; 
      margin-bottom: 50px;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type:  mandatory;
      scroll-padding: 24px;
      
  }
  .lainone::-webkit-scrollbar{
    display: none;
    
  }
  .laigroup{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
  }
 
  .anami h4{
    text-align: right;
  }
 
  .alllain h4{
    text-align: right;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .lainone .item{
    scroll-snap-align: start;
   
    
  }


  .lainone img{
    border-radius: 20px;
    width: 400px;
    

  }
 .im{
  width: 230px;
  border-radius: 50px;

 }
  .lainone p{
    height: 10px;
    padding-bottom: 5px;
    font-size: small;
    text-align: center;
  }
 
  .lainone p:nth-child(3){
    color: rgb(156, 156, 155);
    position: relative;
    padding-top: 6px;
    font-size: small;
  }
  .scroller{
    transform: translateX(300px);
  }

  .leftscroll{
    position: fixed;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    left: -40px;
    top: 55%;
    
  }

.index{
  width: 100%;
  min-height: 250vh;
}

/* page footer */

.footer ul{
list-style: circle;
position: relative;
top: 90px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  color: rgb(192, 189, 189);
  /* margin-top: 100px; */
  /* margin-top: 60px; */
  justify-content: center;
}
.flootrs p{
  text-align: center;
  color: rgb(133, 133, 133);
  margin-top: 100px;

}
.footer li:hover{
  color: rgb(255, 1, 107);
  cursor: pointer;
}

.flootrs{
  position: absolute;
  width: 100%;
  bottom: 1;
  margin-top: 100px;
  min-height: 100px;
  background-color: rgba(15, 15, 15, 0.996);

}

/* page home movie  */
.vid{ 
  width: 100%;

}
.vid video{

  width: 100%;
  height: 400px;
  background-color: black;
  aspect-ratio: 16/9;
  transform: translateY(-26px) translateX(0px);

  outline: none;
}
.vid iframe{
  width: 100%;
  height: 400px;
  background-color: black;
  aspect-ratio: 16/9;
  margin-top: 50px;
  margin-bottom: 30px;
  outline: none;
}



.likeing{
  width: 100%;
  display: flex;
  justify-content: end;
  padding-left: 30px;
  transform: translateY(-16px);
}
.likeing section{
  padding: 0px 4px;
  cursor: pointer;
  /* box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0); */
  height: 29px;
  background-color: rgba(8, 41, 77, 0.541);
  margin-left: .5px;
  border: .5px solid black;
  text-align: center;
  align-items: center;
  display: flex;
  
}

.likeing section:nth-child(1) img{
  transform: rotate(180deg)translateY(-2px);

}
.likeing section:nth-child(1){
  border-radius: 0  20px  20px 0;
}
.likeing section:nth-child(2){
  border-radius:20px 0   0 20px ;
}
.likeing section:hover{
  background-color: rgba(0, 0, 55, 0.556);
  transform: scale(1.13);
}

/* select search type movies */
.serch-movies select{
  background-color: #016f9f3a;
  border-radius: 20px;
  color: #ffffff;
  width: 40px;
  font-size: large;
  cursor: pointer;
  text-align: center;
}
.serch-movies select option{
  background-color: #07212e;
  width: 100px;
  border-bottom: .5px solid;
  height: 300px;
}



/* responseve phone screen */
.lainvid h2{
  background-color: #0c0c0c;
  /* width: 300px; */
  padding: 10px;
  position: relative;
  font-family: sans-serif;
  top:45px;
  text-align: center;
}


@media only screen and (max-width:700px) {
  .leftright{
    width:85%;
    left: 20px;
    top: 60%;
    
  }
  .lainvid h2{
    position: relative;
    top: 100px;
  }

  .searching img{
    transform: translateY(13px) translateX(10px);
  }

  .navbar hr{
    background-color: rgb(26, 26, 27);
  }
 
  .navbar{
    /* text-align: center; */
    /* font-size: 25px; */
    /* padding-top: 20px; */
    /* font-weight: 900; */
    z-index: 1000;
    user-select: none;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;   */
}



  .person{
    display: block;
    position: absolute;
    left: 10px;
    width: 20px;
  }
  .lainone section img{
    width: 140px;
    /* aspect-ratio:9/15; */
  }

 .background section h4:nth-child(2),.background section h4:nth-child(3){
   display: none;
  }
  .alllain{
    margin-top: 70px;
  }
  .background{
    
    background-attachment: fixed;
    height: 64vh;
    background-position: center;
  }
  .background section h4:nth-child(1){
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 40px;
   padding: 0px 14px;
    border-radius: 20px;
  }

  .signin{
    width: 90%;

  }
  
  .background section{
    position: relative; 
    transform: translateY(-100px);

    
  }

    .moviest {
      display: none;
    }
     header input::placeholder{
      color: rgb(255, 255, 255);
      
    }
    .loginf{
      width: 50%;
      height: 30%;
    }
    .imgvideo img{
     width: 20px;
  
    }

    .navbar input{
      position: relative;
      border-radius: 15px;
      z-index: 1;
      left: 10px;
      /* transform: translateY(50px) translateX(170px); */
      /* background: rgba(17, 31, 113, 0.285); */
    } 
    
    
.h3{
 width: 200px;
 font-size:10px;
 position: relative;
 left: 20px;
 display: flex;
 color: #ffffff;

}.h3 select{
  transform: translateY(-10px) ;
  
}
.floot{
height: 20px;
}
.images {
  width: 120%;
  gap: 50px;

}.descrption{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.footer h2{
  display: none;
}
.background section{
  position: relative;
  top: 150px;
}
.a-en{
  width: 150px;
  font-size: 10px;
}
.a-en .type-movie{
  font-size: 5px;
  position: relative;
  top: 1px ;
}
.serch-movies{
  display: flex;
  justify-content: center;
  position: relative;
  left: 10px;
}
.section1{
  width: 100%;
  font-size: 10px;
}
.serch-movies p{
  display: none;
}
.burger{
  position: fixed;
  left:40px;
  
  height: 20px;
  width: 20px;
  top: 15px;
  font-size: 35px;
  font-weight: 300;
}
 .navbar{
  width: 60%;
 }
.lainone .item{
  width: 150px;
}
.lainone .item .im {
  width: 150px;
  border-radius: 0px;
}
.vid iframe{
  position: relative;
  bottom: 4.5px;
  
}
.shahd1 p{
  background-color: #be0505;
  padding:  5px 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  right: -50px;
  bottom: -80px;

  
}
.vid iframe{
  height: 250px;
  margin-top: 55px;
}
.headmovie h3{
font-size: 20px;
}

.descrption .img {
position: relative;
right: 200px;
border-radius: 40px;
  

}
}



/* movies api */

.apis-en{
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 13px;
  

}
.Image-film{
 border: 5px solid;
 width:200px;
 
}

.apis-en img{
  width: 300px;
  aspect-ratio:15/9;
  border-radius: 20px;
  
}


.apis-en p{
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.img-film-en{
  position: relative;
}
.img-film-en p{
  position: absolute;
  top: 20px;
  right: 0px;
  width: 38px;
  border-radius:  10px 0px 0px 10px;
  color: #030303;
  font-size: 13px;
  background-color: #a0a2a2;
  z-index: 20;
}

.img-film-en:hover{
    /* opacity: 0.7; */
    transform: scale(1.07);
    z-index: 110;
    transition: .2s ease-in-out;
    
}


.aflam{
  display: none;
  cursor: pointer;
}

.show-film{
  display: block;
}.type-movie{
  font-size: small;
  color: rgba(240, 248, 255, 0.539);
  position: relative;
  bottom: 10px;

}
.aflam p{
  padding-bottom: -10px;
  text-align: right;
  height: 30px;
  width: 100%;
}
.aflam p:hover{
  background-color: #0000005b;
}

.serch-movies{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 70px;
  z-index: 100;
}
.serch-movies .section1 ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}
.serch-movies .section1 ul li:nth-child(1){
  background-color: #000000;
}
.serch-movies .section1 ul li{
  background-color: #016f9f3a;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  padding-top: 6px;
  cursor: pointer;
  text-align: center;
}
.serch-movies .section1 ul li:hover,.serch-movies p:hover{
  background-color: #000000;
}

.serch-movies p{
  background-color: #016f9f3a;
  width: 230px;
  height: 40px;
  border-radius: 20px;
  padding-top: 6px;
  cursor: pointer;
  text-align: center;

}

/* search at type data */
.rang-type{
  background-color: rgb(10, 21, 32);
  z-index: 100;
  box-shadow: 0 0px 10px black, 0 0px 20px black;
  width: 300px;
  height: 130px;
  padding-top: 10px;
  border-radius: 10px;
  position: relative;
  display: none;
  left: 200px;
  top: 20px;
}
.rang-type span {
  background-color: rgb(159, 167, 167);
  color: #000000;
  font-weight: 700;
  padding:0  10px 0 10px;
  border-radius: 10px;
}

.show-range{
  display: block;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 10px;

}

::-webkit-scrollbar-thumb{
  background-color: #3d597651;
  border-radius:20px ;
  height: 40px;
 

}


.navbar div:nth-child(5) span{
  padding-left: 120px;
   
}
.shahd1{
  padding: 0 5px  0px   5px;
  height: 50px;
  width: 90px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  font-size: larger;
  right: 70px;
  bottom: 30px;
}
body {
  color: white;



  overflow-x: hidden;
}
.h3 select{
  color: #ffffff;
}
.color{
  position: fixed;
  padding: 3px;
  bottom: 20px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(252, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 60px;
}
.imgvideo ul{
  margin-bottom: none;
}
.series{
  width: 100%;
  position: relative;
   height: 100vh;
  top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.series .dontfound{
    width: 55%;

}
.series h2{
  width: 100%;
  height: 80px;
  position: relative;
  bottom: 80px;
  z-index: 100;
  text-align: center;
}
.serch-movies select{
  background-color: #016f9f3a;
  border-radius: 20px;
  color: #ffffff;
  width: 100px;
  font-size: large;
  cursor: pointer;
  text-align: center;
}
.serch-movies select option{
  background-color: #07212e;
  width: 100px;
  height: 300px;
}
.laigroup .limg{
  border-radius: 20px;
}
